body {
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.pixabay.com/photo/2017/12/09/21/33/sunset-3008779_1280.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
    button {
        font-size: 5px;
        color-scheme: blue;
        padding-left: 20px;
        font-weight: bold;
  }
  .content {
    padding: 20px;
    text-align: center;
    

    }
  }